/* Below is for index.html */
.header {
    color: blue;
    background-color: black;
    display: block;
    text-align: center; 
    font-size: 50px;
    border: 8px groove gold;
    margin: 0 auto;
    width: 300px;
    padding: 8px;
    margin-bottom: 50px;
}

.list {
    border: 5px outset magenta;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 200px;
}

#img {
    display: block;
    width: 275px;
    height: auto;
    border: 3px solid lightblue;
}
.img1{
    margin-top: -260px;;
}
.img3{
    margin-left: auto;
    margin-top: -380px;
}
.img4{
    margin-left: auto;
}


/* Below is for lasagna.html */
#links {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

.lasagna-para {
    color: red; 
    font-size: 18px;
}

#lasagna-extras {
    color: blue;
    font-size: 18px;
}

.hcenter {
    text-align: center;
    font-size: 30px;
}

.pic1 {
    display: block;
    margin-left: auto;
    margin-right:auto; 
    height: auto;
    width: auto;
}